{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
{% endblock %}
{% block content %}
    <div class="row">
        {% for product in subProducts %}
            {% set colWidth = loop.length%2 == 0 ? 6 : 4 %}
        <div class="col-lg-{{ colWidth }} col-md-{{ colWidth }}">
            {% include './membership/subProduct' %}
        </div>
        {% endfor %}
    </div>
    <div class="modal fade payment-modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document" style="width: 500px;">
            <div class="modal-content">
                <div class="modal-body" style="padding: 0;">
                    <iframe src="" frameborder="0" class="payment-window" width="100%" height="400"></iframe>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="v1/css/bootstrap-sortable.css?v={{ FF_VERSION }}" type="text/css" media="all"/>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="v1/js/lib/bootstrap-sortable.js?v={{ FF_VERSION }}"></script>
    <script type="text/javascript">
        $('.open-payment-window').on('click', function(e) {
            e.preventDefault();
            let url = this.href;
            let product = $(this).data('product');
            $('.payment-window')[0].src = `${url}?product_index=${product}`;
            $('.modal.payment-modal').modal('show');
        });
    </script>
{% endblock %}