<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>{{ config('app.name') }} - Manage your Budget</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/fpt/projection/assets/css/main.css" />
    <link rel="icon" type="image/png" href="{{ config('whitelabels.favicon_path') }}">
</head>
<body>

<!-- Header -->
<header id="header">
    <div class="inner">
        <a href="/" class="logo"><strong>{{ config('app.name') }}</strong></a>
        <nav id="nav">
            <a href="#features">Features</a>
            <a href="#prices">Prices</a>
            <a href="#about-contact">About</a>
            <a href="#about-contact">Contact</a>
            <a href="#terms">Terms &amp; Conditions</a>
            <a href="/login" class="login">Log in</a>
            <a href="#prices" class="btn-white btn-small">Sign up</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
    </div>
</header>

<!-- Banner -->
<section id="banner">
    <div class="inner">
        <header>
            <h1>Welcome to {{ config('app.name') }}</h1>
        </header>

        <h3>Budget management made easy</h3>

        <div class="flex ">
            <div>
                <span class="icon fa-car"></span>
                <h3>FINANCIAL OVERVIEW</h3>
{#                <p>Get an overview of you financial situation and save money. By learning your spending-pattern you can avoid the bad habbit of spending unnecessary money.</p>#}
            </div>
            <div>
                <span class="icon fa-camera"></span>
                <h3>REPORTS</h3>
{#                <p>See detailed reports on your earnings and spendings for any specific period. Always be up to date on your finances.</p>#}
            </div>
            <div>
                <span class="icon fa-bug"></span>
                <h3>LOTS OF FEATURES</h3>
{#                <p>Budgetley offers many features such as categorised transactions, tags, reports, recurring transactions, piggy banks and much more.</p>#}
            </div>
        </div>

        <footer>
            <a href="#features" class="button">Get Started</a>
        </footer>
    </div>
</section>


<!-- Three -->
<section id="features" class="wrapper align-center">
    <div class="inner">
        <div class="flex flex-3">
            <article>
                <div class="image round">
                    <i class="fa fa-bullseye" style="font-size:150px;" aria-hidden="true"></i>
                </div>
                <header>
                    <h3>EASY TO USE</h3>
                </header>
                <p>{{ config('app.name') }} is easy to use and makes<br>it easy for anyone to begin organizing their finances.</p>
                <footer>
                    <a href="#prices" class="button">Learn More</a>
                </footer>
            </article>
            <article>
                <div class="image round">
                    <i class="fa fa-globe" style="font-size:150px;" aria-hidden="true"></i>
                </div>
                <header>
                    <h3>WORKS EVERYWHERE</h3>
                </header>
                <p>{{ config('app.name') }} works on your desktop,<br> mobile and tablet everywhere in the world.</p>
                <footer>
                    <a href="#prices" class="button">Learn More</a>
                </footer>
            </article>
            <article>
                <div class="image round">
                    <i class="fa fa-university" style="font-size:150px;" aria-hidden="true"></i>
                </div>
                <header>
                    <h3>MULTIPLE ACCOUNTS</h3>
                </header>
                <p>No matter the amount of accounts you have, you can<br> add them all to {{ config('app.name') }} and keep track<br> of all your transactions.</p>
                <footer>
                    <a href="#prices" class="button">Learn More</a>
                </footer>
            </article>
        </div>
    </div>
</section>

<section class="features-extra section-padding align-center" id="prices">
    <div class="inner">
        <div class="">
            <div class="">
                <div class="feature-list">
                    <h3 id="prices">Prices</h3>
                    <p>To keep things simple, we offer a Basic membership, and a Premium membership.</p>
                    <p>The Premium membership offers advantages and extra features over the Basic membership.</p>
                </div>
            </div>
            <div class="">
                <table class="table table-striped" id="price-compare">
                    <thead>
                    <tr>
                        <th></th>
                        <th class="align-center">{{ subProducts.0.name }}</th>
                        <th class="align-center">{{ subProducts.1.name }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Multiple Accounts</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>Liabilities</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>Budgets</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>Reports</td>
                        <td><i class="fa fa-check"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>Tags</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>Categories</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>Piggy Banks</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>Bills</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>Recurring Transactions</td>
                        <td><i class="fa fa-times"></i></td>
                        <td><i class="fa fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>Price</td>
                        <td>
                            <h4 class="price">{{ subProducts.0.price }}/month</h4>
                            {% if currency is same as('usd') %}
                                <a href="?currency=EUR#prices" class="active">Show price in EUR</a>
                            {% else %}
                                <a href="?currency=USD#prices" class="active">Show price in USD</a>
                            {% endif %}
                        </td>
                        <td>
                            <h4 class="price">{{ subProducts.1.price }}/month</h4>
                            {% if currency is same as('usd') %}
                                <a href="?currency=EUR#prices" class="active">Show price in EUR</a>
                            {% else %}
                                <a href="?currency=USD#prices" class="active">Show price in USD</a>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Payment Methods</td>
                        <td><img src="fpt/sedna/img/we-accept.png" style="max-height:20px;"></td>
                        <td><img src="fpt/sedna/img/we-accept.png" style="max-height:20px;"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            <small>Click below to register for a 14 day trial</small><br><br>
                            <a href="/signup?spi=0&currency={{ currency }}" class="button">SIGN UP</a>
                        </td>
                        <td>
                            <small>Click below to register for a 14 day trial</small><br><br>
                            <a href="/signup?spi=1&currency={{ currency }}" class="button">SIGN UP</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<hr>

<section class="" id="about-contact">
    <div class="inner">
        <div class="flex flex-2">
            <article>
                <div class="feature-list">
                    <h3>About {{ config('app.name') }}</h3>
                    <p>{{ config('app.name') }} is a fully-fledged budget-planning service which offers anyone to gain control over their earnings and expenses. By providing the software, we can help you get a better overview of your financial status.</p>
                    <p>{{ config('app.name') }} is served and run by {{ config('whitelabels.company') }}.</p>
                    <p>If you have any questions, please don't hesitate to contact us.</p>
                </div>
            </article>
            <article>
                <h3>Contact information</h3>
                <p>You can reach {{ config('app.name') }} by:</p>
                <table class="table">
                    <tr>
                        <td><span class="label label-default"><i class="fa fa-phone"></i> Phone</span></td>
                        <td>
                            {{ config('whitelabels.phone') }}<br>
                            <em>Mon-Fri 09:00 - 12:00, 13:30 - 16:00 (Central Europe timezone)</em>
                        </td>
                    </tr>
                    <tr>
                        <td><span class="label label-default"><i class="fa fa-envelope"></i> Email</span></td>
                        <td><a href="mailto:support@{{ config('whitelabels.domain') }}">support@{{ config('whitelabels.domain') }}</a></td>
                    </tr>
                    <tr>
                        <td><span class="label label-default"><i class="fa fa-address-book"></i> Address</span></td>
                        <td>
                            {{ config('app.name') }}<br>
                            {{ config('whitelabels.company') }}<br>
                            {{ config('whitelabels.address_line1') }}<br>
                            {{ config('whitelabels.address_line2') }}<br>
                            {{ config('whitelabels.address_line3') }}<br>
                            {{ config('whitelabels.company_reg') }}
                        </td>
                    </tr>
                </table>
            </article>
        </div>
    </div>
</section>

<section class="section-padding" id="terms">
    <div class="inner">
        <div class="flex">
            <article>
                <button class="btn btn-lg btn-info" onclick="gotoSection('terms-terms');">Terms &amp; Conditions</button>
                <button class="btn btn-lg btn-info" onclick="gotoSection('terms-privacy-policy');">Privacy Policy</button>
                <button class="btn btn-lg btn-info" onclick="gotoSection('terms-cookie-policy');">Cookie Policy</button>
                <button class="btn btn-lg btn-info" onclick="gotoSection('refund-cancellation-policy');">Refund &amp; Cancellation Policy</button>
                <div style="border:1px solid #eee; border-radius:15px; max-height:400px;overflow-y:scroll; padding:20px; margin-top:15px; margin-bottom:15px; position:relative;" id="terms-container">
                    {{ terms | raw }}
                </div>
            </article>
        </div>
    </div>
</section>

<footer id="footer">
    <div class="inner">
        <div class="flex flex-2">
            <article>
                <div class="footer-links">
                    <ul class="footer-group">
                        <li><a href="#features">Features</a></li>
                        <li><a href="#prices">Prices</a></li>
                        <li><a href="#about-contact">About</a></li>
                        <li><a href="#about-contact">Contact</a></li>
                        <li><a href="#terms">Terms & Conditions</a></li>
                        <li><a href="/unsub">Unsubscribe</a></li>
                    </ul>
                    <p>Copyright © {{ "now"|date("Y") }} <a href="#">{{ config('app.name') }}</a>
                </div>
            </article>
            <article class="social-share" style="max-width:300px;">
                <p>
                    {{ config('app.name') }}<br>
                    {{ config('whitelabels.company') }}<br>
                    {{ config('whitelabels.address_line1') }}<br>
                    {{ config('whitelabels.address_line2') }}<br>
                    {{ config('whitelabels.address_line3') }}<br>
                    {{ config('whitelabels.company_reg') }}
                </p>
            </article>
        </div>
    </div>
</footer>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/fpt/projection/assets/js/skel.min.js"></script>
<script src="/fpt/projection/assets/js/util.js"></script>
<script src="/fpt/projection/assets/js/main.js"></script>

<script>
    $(function(){
        window.gotoSection = function(section){
            let e = $('#terms-container');
            let hs = e.find('h3');
            let positions = {
                'terms-terms': hs.get(0) ? hs.get(0).offsetTop : 0,
                'terms-privacy-policy': hs.get(1) ? hs.get(1).offsetTop : 0,
                'terms-cookie-policy': hs.get(2) ? hs.get(2).offsetTop : 0,
                'refund-cancellation-policy': hs.get(3) ? hs.get(3).offsetTop : 0,
            };
            e.scrollTop(positions[section]);
        };
    });
</script>
</body>
</html>