<!DOCTYPE html>
<html lang="{{ trans('config.html_language') }}">
<head>
    <base href="{{ route('index') }}/" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ config('app.name') }}
        {% if title != "Firefly" and title != "" %}
            // {{ title }}
        {% endif %}

        {% if subTitle %}
            // {{ subTitle }}
        {% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="v2/plugins/local-fonts/gf-source.css">
    <link rel="stylesheet" href="v2/css/app.css">
    {#<link rel="stylesheet" href="v2/lib/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="v2/assets/css/dashboard.css" rel="stylesheet"/>#}
</head>
<body class="hold-transition login-page">
{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
</body>
</html>
